.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    font-size: 2rem;
  }
  
.left-arrow {
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 2rem;
}

